@import "../../_scssPartials/mixins/mixins";
@import "../../_scssPartials/variables";

.wrapper {
    margin-bottom: 50px;
    padding-left: $mobile-side-padding;
    padding-right: $mobile-side-padding;

    & > .content {
        background-color: var(--theme-main-color_2);
    }

    & > .poster {
        margin-left: -$mobile-side-padding;

        & .headingsWrapper {
            margin-right: $mobile-side-padding;
        }
    }

    & > .descriptionWrapper {
        @include centeredFlex(column);
        margin-top: 20px;

        & > .genresWrapper {
            @include displayFlex(row);
            width: 100%;
            margin-bottom: 30px;
            color: var(--theme-subtext-color);

            & > div:first-of-type {
                margin-right: 10px;
            }
        }

        & > article {
            margin-bottom: 20px;
            line-height: 25px;
            font-style: italic;
        }

        & > .crewInfo {
            width: 100%;
            text-align: start;
            margin-bottom: 5px;

            & > .diffColor {
                color: var(--theme-subtext-color);
            }
        }

    }

    & > .breadcrumbsWrapper {
        @include centeredFlex();
    }

    & > hr {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        border-color: #575757;
    }

}

