@import "../../../_scssPartials/mixins/mixins";
@import "../../../_scssPartials/mixins/mediaQueries";
@import "../_misc/localVariables";


.mainWrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    z-index: 2;
    position: relative;
}

.mainLogoWrapper {
    width: 70px;
    height: 70px;
    color: var(--theme-secondary-color);

    & > svg {
        border-radius: 2px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        fill: currentColor;
    }
}

.toggleAsideNav {
    @include centeredFlex(row);
    color: var(--theme-secondary-color);

    width: 60px;
    height: $header-height;
}
.barsIcon {
    height: 60%;
}

form.searchInput {
    @include mobile {
        display: none;
    }
}

