@import "../../_scssPartials/mixins/mixins";
@import "../../_scssPartials/mixins/mediaQueries";

.wrapper {
    padding: 20px;

    & > .headingsWrapper {
        @include displayFlex(column);
        width: 100%;
        margin-bottom: 30px;

        & > h1, h3 {
            margin: 0 0 20px;
        }

        & > h3 {
            color: var(--theme-subtext-color);
        }
    }

    & > .filtersWrapper {
        display: grid;
        grid-template-columns: repeat(2, $slide-width);
        gap: 20px 40px;
        justify-content: center;
        margin-bottom: 30px;

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    & > .moviesGrid {
        @include movieGridCell
    }

    & > .paginationSection {
        margin-top: 30px;
    }

    & > .endArticle {
        margin-top: 70px;
        margin-bottom: 30px;

        & > p {
            color: var(--theme-subtext-color);
            font-size: 1.2rem;
            line-height: 30px;
        }
    }
}