@import "../../_scssPartials/mixins/mixins";

.footer {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--theme-text-color);
    font-family: 'Nunito', sans-serif;
    background-color: var(--theme-main-color_1);
    @include displayFlex(column, space-between);

    & ul {
        height: 170px;
        padding-left: 0;
        color: var(--theme-subtext-color);
        @include displayFlex(column, space-between);

        & > li {
            list-style: none;
        }
    }

    & a {
        text-decoration: none;
        color: var(--theme-subtext-color);
    }
}

.socialIcons {
    font-size: 30px;
    margin-right: 25px;
    color: var(--theme-subtext-color);

    &:hover {
        color: var(--theme-text-color);
    }
}

.socialSection {
    color: var(--theme-subtext-color);
    @include displayFlex(row, initial, center);

    & > h3 {
        margin: 0 30px 0 0;
    }

    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #1f1f1f;
}

.mainLogoSection {
    margin-top: 30px;
    margin-bottom: 20px;

    & > span {
        font-family: 'Nunito', sans-serif;
        color: var(--theme-subtext-color);
        font-size: 0.8rem;
        font-style: italic;
    }
}

.mainLogoWrapper {
    @include centeredFlex();
    border-top: 1px solid #1f1f1f;

    & > a {
        color: var(--theme-secondary-color);

        width: 150px;
    }
}