.categoriesWrapper {
    margin-top: 50px;
    margin-bottom: 50px;

    & .singleCategoryWrapper {
        margin-top: 50px;

        & > h2 {
            padding-left: 4%;
            font-family: 'Nunito', sans-serif;
        }
    }
}