@import "../../../_scssPartials/mixins/mixins";

.backdrop {
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;

    &.hiddenBackdrop {
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
    }

    & > .wrapper {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 5vw;
        width: 90vw;
        height: 400px;
        z-index: 4;
        background: var(--theme-main-color_2);
        border-radius: 5px;
        transition: all 0.3s linear;
        overflow-y: auto;
        @include displayFlex(column, initial, center);

        &.hiddenWrapper {
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s linear;
        }

        & > .headingSection {
            @include displayFlex(row, space-between, center);
            padding: 15px;
            vertical-align: middle;
            font-family: 'Nunito', sans-serif;
            height: 55px;
            width: 100%;

            & > div {
                @include centeredFlex()
            }

            & > h3 {
                margin: 0;
            }
        }

        & > hr {
            width: 95%;
        }

        & > .contentSection {
            padding-top: 5px;
            height: 325px;
            width: 95%;
            text-align: center;
        }
    }
}