@import "../../_scssPartials/mixins/mixins";

.wrapper {
    @include displayFlex(row, initial);

    & > .imageWrapper {
        width: 55px;
        margin-right: 15px;
        @include centeredFlex()
    }

    & > .textWrapper {
        @include displayFlex(column, space-between);
        padding-top: 2px;
        padding-bottom: 2px;

        & > * {
            margin: 0;
        }
    }
}